:host{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container{
  display: flex;
  flex-direction: column;
  padding: 10px 60px 50px 50px ;
  margin: 50px;
}

div,button{
  margin-top: 20px;
}

mat-form-field{
  width: 300px;
}
